.customNavBar {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 14px 28px,
        rgba(0, 0, 0, 0.02) 0px 10px 10px;
}

.cart-icon {
    position: relative;
    height: 30px;
}

.cart-icon a svg {
    color: #212529;
}

.cart-icon span {
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 2px 6px;
    font-size: 10px;
}