.category-list {
    max-height: 520px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 14px 28px,
        rgba(0, 0, 0, 0.06) 0px 10px 10px;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px 16px transparent;
    border: solid 6px transparent;
}

.scroll::-webkit-scrollbar {
    width: 16px;
}

.scroll::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 16px 16px #252727;
    border: solid 6px transparent;
    border-radius: 16px;
}

.search-bar {
    border-radius: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid #252727;
    width: 85%;
}

.create-category {
    background-color: white;
    border-radius: 50%;
    color: #252727;
    width: 38px;
    height: 38px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 5px 10px, rgba(0, 0, 0, 0.1) 0px 2px 7px;
}

.create-category:hover {
    background-color: #252727;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 15px 15px,
        rgba(0, 0, 0, 0.04) 0px 15px 15px;
}

.category-content {
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 5px 10px, rgba(0, 0, 0, 0.02) 0px 5px 5px;
}

.delete-category {
    width: 28px;
    height: 28px;
    color: #252727;
}

.delete-category:hover {
    background-color: #252727;
    border-radius: 50%;
    color: white;
}