.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    align-items: center
}

@import url("../utils/productItem/productItem.css");

.custom-checkbox-all {
    width: 20px;
    height: 20px;
    border: 1.5px solid #212529 !important;
    border-radius: 50% !important;
    background-color: white;
    appearance: none;
    background-size: 0;
    background-image: url("../../../assets/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

.custom-checkbox-all:checked {
    background-size: 60%;
    background-color: #212529;
}

.delete-all span {
    text-transform: uppercase;
    color: #212529;
}

/* ------------ Filters Menu ----------------- */
.customInput {
    max-width: 400px;
}

/* -------------------- Load More --------------- */
.load_more {
    text-align: center;
}

.load_more button {
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
}