.auth-content {
    min-width: 400px;
    border-radius: 20px;
    padding: 30px;
    margin: 50px auto;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 14px 28px,
        rgba(0, 0, 0, 0.06) 0px 10px 10px;
}

.auth-btn {
    width: 80px;
    height: 40px;
}