.cart-hr {
    border: none;
    height: 1px;
    background-color: #333;
}


.cart-item-img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 20px;
}

.cart-item-category {
    color: crimson;
}

.cart-item-remove {
    text-decoration: none;
    color: #7c7c7c;
}

.cart-item-remove:hover {
    color: #212529 !important;
}

.cart-item-info {
    margin-right: 5vw;
}


.cart-item-amount {
    height: inherit;
}

.cart-item-amount button {
    border: none;
    background-color: inherit;
    margin-bottom: 6px;
}

.cart-item-amount span {
    border: 1px solid #7c7c7c;
    border-radius: 5px;
}


.custom-table tr,
.custom-table td,
.custom-table th {
    border: none;
}