.card-img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 20px;
}

.custom-btn {
    width: 100px;
    height: 40px;
}

.custom-checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 10px 0 0 10px;
    border: none;
    border-radius: 50% !important;
    background-color: white;
    appearance: none;
    background-size: 0;
    background-image: url("../../../../assets/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

.custom-checkbox:checked {
    background-size: 60%;
    background-color: #212529;
}

.custom-card {
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 14px 28px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px;
}

.custom-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 18px 32px,
        rgba(0, 0, 0, 0.15) 0px 16px 16px;
}